-#  This file is app/views/movies/index.html.haml
!!! 5
%html
  %head
    %title RottenPotatoes!
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #main
      = yield
  
  -# add to end of index.html.haml
= link_to 'Add new movie', new_movie_path